.u-section-1 .u-sheet-1 {
  min-height: 2743px;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 913px;
  height: 911px;
  margin: 291px -401px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 634px;
  height: 659px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.34deg);
}

.u-section-1 .u-text-1 {
  margin: -1082px 458px 0 -14px;
}

.u-section-1 .u-group-1 {
  min-height: 266px;
  height: auto;
  width: 536px;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.3);
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -217px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 11px;
}

.u-section-1 .u-text-2 {
  font-family: "Bagel Fat One";
  margin: 8px 276px 0 24px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 12px 56px 0 24px;
}

.u-section-1 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 1065px;
  height: 1065px;
  margin: -869px auto 0 -554px;
}

.u-section-1 .u-image-2 {
  width: 758px;
  height: 749px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.u-section-1 .u-image-3 {
  width: 551px;
  height: 551px;
  margin: -979px -17px 0 auto;
}

.u-section-1 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 766px;
  height: 757px;
  margin: 485px auto 0 -348px;
}

.u-section-1 .u-image-4 {
  width: 537px;
  height: 566px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(57.74deg);
}

.u-section-1 .u-image-5 {
  width: 735px;
  height: 510px;
  margin: -965px auto 0 -165px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -414px 97px 0 389px;
}

.u-section-1 .u-rotation-parent-4 {
  animation-timing-function: ease;
  width: 652px;
  height: 652px;
  margin: 142px -259px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 403px;
  height: 519px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(315deg);
}

.u-section-1 .u-image-7 {
  width: 734px;
  height: 592px;
  margin: -770px -72px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -427px 475px 0 11px;
}

.u-section-1 .u-group-2 {
  min-height: 845px;
  height: auto;
  width: 396px;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.3);
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 10px 67px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 32px 48px 0 26px;
}

.u-section-1 .u-rotation-parent-5 {
  animation-timing-function: ease;
  width: 766px;
  height: 757px;
  margin: -578px auto 0 -260px;
}

.u-section-1 .u-image-8 {
  width: 537px;
  height: 566px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(57.74deg);
}

.u-section-1 .u-image-9 {
  width: 691px;
  height: 492px;
  margin: -598px 60px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-rotation-parent-1 {
    margin-top: 726px;
    margin-right: -301px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 258px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: -454px;
  }

  .u-section-1 .u-image-2 {
    inset: auto;
    width: 757px;
    height: 748px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -978px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: 403px;
    margin-left: -248px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 286px;
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-top: 174px;
    margin-right: -224px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-rotation-parent-1 {
    margin-top: 918px;
    margin-right: -191px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 38px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: -344px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-left: -138px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 66px;
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-right: -114px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 66px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2344px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 6424px;
    margin-right: -101px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: -254px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-left: -48px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 375px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: -279px;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-top: 167px;
    margin-right: -24px;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 436px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: -271px;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 384px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 339px;
    margin-top: 6135px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 236px;
    height: 245px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -510px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 104px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 340px;
    height: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-2 {
    width: 242px;
    height: 239px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -253px;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-3 {
    width: 340px;
    height: 336px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-4 {
    width: 238px;
    height: 251px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 236px;
    margin-top: -544px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -140px;
  }

  .u-section-1 .u-rotation-parent-4 {
    width: 340px;
    height: 340px;
    margin-top: 288px;
    margin-right: 76px;
  }

  .u-section-1 .u-image-6 {
    width: 210px;
    height: 271px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 275px;
    margin-top: -458px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -110px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-5 {
    width: 340px;
    height: 336px;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    width: 238px;
    height: 251px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 242px;
    margin-top: -177px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 15px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 88px;
  }
}